<h3>I am a app modeule code !!</h3>
<hr>
<app-servers [receiveFromParent]="sendingThisToServers" (AliasNameForParentCompEvent)="gotServerNameFromServersComp($event.name)">
    <p>I am from App Component and in between app-servers tag. Normaly it gets neglected but ng-content tag in app-servers will save  saw me. Can be alternative to pass data to child with html code. To child you can not pass html.</p>
    <pre>Lifecycle
        ngOnChanges-------------Called after a bound input property changes
        ngOnInit----------------Called once the component is initialized after constructor
        ngDoCheck---------------Called during every change detection run
        ngAfterContentInit------Called after content (ng-content) has been projected into view
        ngAfterContentChecked---Called every time the projected content has been checked
        ngAfterViewInit---------Called after the component’s view (and child views) has been initialized
        ngAfterViewChecked------Called every time the view (and child views) have been checked
        ngOnDestroy-------------Called once the component is about to be destroyed
        </pre>
</app-servers>